<div class="message-wrapper" id="message-wrapper">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if flashMessage is iterable %}
                <ul>
                    {% for message in flashMessage %}
                        <li>{{ message|raw }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ flashMessage|raw }}
            {% endif %}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Avertissement non bloquant</h4>
            {% if flashMessage is iterable %}
                <ul>
                    {% for message in flashMessage %}
                        <li>{{ message|raw }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ flashMessage|raw }}
            {% endif %}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Les erreurs suivantes ont été détectées :</h4>
            {% if flashMessage is iterable %}
                <ul>
                    {% for flashMessage in flashMessage %}
                        <li>{{ flashMessage|raw }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ flashMessage|raw }}
            {% endif %}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('locks') %}
        {% if flashMessage is iterable %}
            <ul>
                {% for message in flashMessage %}
                    <li>{{ message|raw }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ flashMessage|raw }}
        {% endif %}
    {% endfor %}
</div>