{% extends "SenegalBackBundle::layout.html.twig" %}

{% trans_default_domain translation_domain %}

{% set menu_active = 'forfaits' %}

{% block container_class %}{{ parent() }} create_forfait{% endblock container_class %}

{% block headline %}
    {{ 'create'|trans({}, 'back_forfaits') }}
{% endblock headline %}

{% block header_actions %}
    <a href="{{ path('senegal_back_forfaits_list') }}" class="btn btn-danger margin-top-30">
        <i class="fa fa-list"></i>
        Retour à la liste
    </a>
{% endblock header_actions %}

{% block content_body %}
    {{ form_start(form, {'action': url('senegal_back_forfaits_create'), 'attr': {'novalidate': 'novalidate', 'data-form-notification-exit': 'true'}}) }}

    <div class="row">
        <div class="col-xs-4">
            <div class="well">
                <fieldset>
                    <legend>{{ 'form_legends.identity'|trans({}, 'back_forfaits') }}</legend>

                    {{ form_row(form.name) }}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="margin-top-30">
        <div class="well clearfix">
            <button type="submit" name="create_and_edit" class="btn btn-primary" data-disable-after-click="true">
                <i class="fa fa-save"></i>
                {{ 'form.create_and_edit'|trans }}
            </button>
            <button type="submit" name="create_and_list" class="btn btn-primary" data-disable-after-click="true">
                <i class="fa fa-save"></i>
                <i class="fa fa-list"></i>
                {{ 'form.create_and_list'|trans }}
            </button>
            <button type="submit" name="create_and_create" class="btn btn-primary" data-disable-after-click="true">
                <i class="fa fa-plus-circle"></i>
                {{ 'form.create_and_create'|trans }}
            </button>
            {{ 'form.or'|trans }}
            <a href="{{ path('senegal_back_forfaits_list') }}" class="btn btn-danger">
                <i class="fa fa-share"></i>
                {{ 'form.cancel'|trans }}
            </a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock content_body %}
